body {
  font-family: 'Mansalva', cursive;
  background-image: url('./images/bg.jpg');
  background-color: #C63523;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.start {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  border: 6px solid #230404;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #5A130A;
}
a:hover {
  color: white;
  text-decoration: none;
}
.board {
	width: 600px;
	height: 600px;
	margin: 20px auto;
  background-color: transparent;
  color: #fff;
  border: 6px solid #230404;
  border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
  border: 6px solid #230404;
  border-radius: 2px;
  font-weight: bold;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(http://cur.cursors-4u.net/others/oth-8/oth704.cur), auto !important;
}
.square:hover {
    cursor: pointer;
    background-color: #5A130A;
}

.noClik {
  pointer-events: none;
}
.winCard {
  background-color: black;
  position: absolute;
  top: 12%;
  left: 35%;
  width: 30%;
}

.msg {
  font-size: 30px;
}

/* flying witch */

#pot{bottom:5%;
  position:absolute;
  animation:linear alternate;
  animation-name: run;
  animation-duration: 10s;
  }     
@keyframes run {
      0% { left: 0; bottom: 0;}
      50%{ left : 100%; bottom: 80%;}
      100%{ left : 100%; bottom: 80%;}
  }

/* Flying bat */
.bat {
  bottom:0px;
  right: 0;
  position:absolute;
  animation:linear alternate;
  animation-name: flyBat;
  animation-duration: 10s;
  animation-delay: 10s;
  }     
@keyframes flyBat {
      0% { bottom: 0; right: 0; }
      50%{ bottom: 100%; right: 50%;}
      100%{ bottom: 100%; }
  }
/*  cat */
.cat {
  z-index: -1;
  bottom: -20px;
  right: 22%;
  position:absolute;
  animation:linear alternate;
  /* animation-name: cats; */
  animation-duration: 10s;
  }     
@keyframes cats {
      0% { right:0; }
      50%{ right: 20%; }
      100%{right: 20%; }
  }
  .somOfGames {
    position: absolute;
    top: 20%;
    left: 2%;
  }
  .underline {
    text-decoration: underline;
  }