body {
  font-family: 'Mansalva', cursive;
  background-image: url('./images/bg.jpg');
  background-color: #C63523;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.start {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  border: 6px solid #230404;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #5A130A;
}
a:hover {
  color: white;
  text-decoration: none;
}
.board {
	width: 600px;
	height: 600px;
	margin: 20px auto;
  background-color: transparent;
  color: #fff;
  border: 6px solid #230404;
  border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
  border: 6px solid #230404;
  border-radius: 2px;
  font-weight: bold;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(http://cur.cursors-4u.net/others/oth-8/oth704.cur), auto !important;
}
.square:hover {
    cursor: pointer;
    background-color: #5A130A;
}

.noClik {
  pointer-events: none;
}
.winCard {
  background-color: black;
  position: absolute;
  top: 12%;
  left: 35%;
  width: 30%;
}

.msg {
  font-size: 30px;
}